@page "/default-password-update"
@using OnlineSecureHospitalSystem.Services.Authorization
@inject AccessControlService AccessControl

<h3>DefaultPasswordUpdate</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AccessControl.CheckAccessAsync(requireDefaultPasswordUpdated: false, allowedRoles: null);
    }
}
